.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;

  &.btn-secondary {
    color: white;
  }
}

img {
  max-width: 100%;
}

@media (min-width: 100em) {
  .container {
    max-width: 90em;
  }
}
