.sd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.15s cubic-bezier(0.42, 0, 0.58, 1);

  .btn {
    @include breakpoint(62em) {
      opacity: 0;
      transition: opacity 0.15s cubic-bezier(0.42, 0, 0.58, 1);
      pointer-events: none;
    }
  }

  &.sd-header-scroll {
    background-color: white;
    box-shadow: 0 1px 2px 0 hsla(0,0,0,.15);

    .btn {
      opacity: 1;
      pointer-events: all;
    }
  }
}
