.sd-hero {
  min-height: 100vh;
  padding: 6rem 0 3rem;
  background: radial-gradient(ellipse at center, rgba($sd-blue-2,1) 0%,rgba($sd-blue-4,1) 100%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(48em) {
    background: $gray-100 url('../../assets/img/hero.jpg') center center;
    background-size: cover;
  }

  h1 {
    color: white;
    font-weight: 700;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 6.5vh;

    @include breakpoint(32em) {
      font-size: 9vw;
    }

    @include breakpoint(48em) {
      font-size: 7vw;
      text-align: left;
    }

    @include breakpoint(90em) {
      font-size: 5.5rem;
    }

    strong {
      color: $sd-blue;
      font-weight: 900;
    }
  }

  .sd-pkg {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    img {
      flex: 0 0 auto;
      max-height: 10rem;
      margin-right: 1rem;
    }

    h3 {
      flex: 0 0 auto;
      color: white;
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 2rem;

      small {
        font-size: 50%;
      }

      @include breakpoint(48em) {
        flex: 1 1 0px;
        font-size: 3rem;
      }
    }
  }
}
