.sd-grid {
  display: grid;
  grid-template: 4.625rem 1fr auto / 1fr;
  min-height: 100vh;

  .sd-grid-nav {
    background: $white;

    svg {
      height: 3rem;
      .st0{fill:#15BDE8}
      .st1{fill:#93D500}
    }

    .nav {
      margin-right: 1rem;
      display: none;

      @include breakpoint(992px) {
        display: flex;
      }
    }
  }

  .sd-grid-main {

  }

  .sd-grid-footer {
    font-size: 0.9rem;
    background: transparent;
    color: hsla(0,0,0,0.5);
    font-weight: 300;

    a {
      color: hsla(0,0,0,0.5);
      transition: color 0.1s;

      &:hover {
        color: hsla(0,0,0,1);
      }
    }
  }
}
